::-webkit-scrollbar {
   width: 3px !important;
   height: 3px !important;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.app-container {
  height: 100vh;
  width: 100vw;
  color: white;
  overflow: hidden;
}


.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box h1 {
  font-size: 48px;
}
.box {
  width: 350px;
  text-align: center;
}

.departments {
  margin-bottom: 15px;
  text-indent: 7px;
}

.language-selector-top {
  position: absolute;
  top: 2px;
  right: 1px;
}

.language-selector-bottom {
  position: absolute;
  bottom: 2px;
  right: 1px;
}

.country {
  cursor: pointer;
}

.error-box {
  margin-top: 20px;
}

.toggleForm {
  margin-bottom: 15px !important;
  margin-top: 20px;
}

/* Student Dashboard */

@media only screen and (max-width: 768px) {
  .main-box {
    width: 90vw !important;
    height: 100vh !important;
  }

  .app-container {
    height: 160vh !important;
  }

  .dashboard-flex-box {
    height: 110vh !important;
  }

  #company-choices {
    flex-direction: column !important;
    width: 90% !important;
  }

  ul, ol {
    width: 80vw !important;
    height: 250vh !important;
  }

  @media only screen and (max-height: 414px) {
    .app-container {
      height: 180vh !important;
    }
  }

}

.dashboard-container {
  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: none !important;
  background: none !important;
  border-radius: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.dashboard-flex-box {
  height: 88vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box {
  height: 75vh;
  width: 85vw;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 25px;
  color: #424242;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#company-choices {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  width: 80%;

}

#options, #choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40vw;
}


ul {
  list-style-type: none;

}

ol {
  list-style-position: inside;
  border-radius: 5px;
  min-height: 50px;
}

ul, ol {
  width: 32vw;
  padding: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

li {
  margin: 6px;
  background-color: whitesmoke;
  padding: 3px 10px 3px 10px;
  cursor: grab;
  border: 1px #a8a8a8 solid;
  border-radius: 5px;
  width: 130px;
}

/* Admin Dashboard */

.table-container {
  padding: 3px;
  height: 58vh;
  width: 74vw;
  overflow-y: auto;
}
